<?php

$settings['debug'] = false;

$settings['cache'] = false;

$settings['ga_code'] = null;

$settings['maintenance'] = false;

$settings['database'] = [
    'dsn' => 'pgsql:host=localhost;dbname=isaac',
    'user' => 'root',
    'pass' => '',
];
