div.container,
section, header, footer {
    max-width: 800px;
    margin: 0 auto;
}

header, footer {
    margin-top: 20px;
}

footer {
    border-top: 1px solid rgb(44, 62, 80);
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
}

table tr {
    border-bottom: 1px solid #ddd;
}

h1, h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.table-stats {
    max-width: 300px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

/* Progress table and icons
---------------------------- */

.prog-table th { text-align: center }
.prog-table td { text-align: center; width: 14.29%}

.prog {
    width: 32px;
    height: 32px;
    background-image: url("/static/images/progress-200.png");
    display: inline-block;
}

/* Normal mode */
.prog-1-1 { background-position: -128px -32px } /* Heart */
.prog-2-1 { background-position:  -64px -32px } /* Isaac */
.prog-3-1 { background-position:  -96px -32px } /* Satan */
.prog-4-1 { background-position: -160px -32px } /* Rush  */
.prog-5-1 { background-position:    0px -32px } /* ???   */
.prog-6-1 { background-position:  -32px -32px } /* Lamb  */

/* Hard mode */
.prog-1-2 { background-position: -128px 0px } /* Heart */
.prog-2-2 { background-position:  -64px 0px } /* Isaac */
.prog-3-2 { background-position:  -96px 0px } /* Satan */
.prog-4-2 { background-position: -160px 0px } /* Rush  */
.prog-5-2 { background-position:    0px 0px } /* ???   */
.prog-6-2 { background-position:  -32px 0px } /* Lamb  */

/* Item icons
---------------------------- */

.item {
    width: 16px;
    height: 16px;
    background-image: url("/static/images/items.png");
    display: inline-block;
    margin: 3px;
}

.item-1 { background-position: 0px -0px }
.item-2 { background-position: -16px -0px }
.item-3 { background-position: -32px -0px }
.item-4 { background-position: -48px -0px }
.item-5 { background-position: -64px -0px }
.item-6 { background-position: -80px -0px }
.item-7 { background-position: -96px -0px }
.item-8 { background-position: -112px -0px }
.item-9 { background-position: -128px -0px }
.item-10 { background-position: -144px -0px }
.item-11 { background-position: -160px -0px }
.item-12 { background-position: -176px -0px }
.item-13 { background-position: -192px -0px }
.item-14 { background-position: -208px -0px }
.item-15 { background-position: -224px -0px }
.item-16 { background-position: -240px -0px }
.item-17 { background-position: -256px -0px }
.item-18 { background-position: -272px -0px }
.item-19 { background-position: -288px -0px }
.item-20 { background-position: -304px -0px }
.item-21 { background-position: 0px -16px }
.item-22 { background-position: -16px -16px }
.item-23 { background-position: -32px -16px }
.item-24 { background-position: -48px -16px }
.item-25 { background-position: -64px -16px }
.item-26 { background-position: -80px -16px }
.item-27 { background-position: -96px -16px }
.item-28 { background-position: -112px -16px }
.item-29 { background-position: -128px -16px }
.item-30 { background-position: -144px -16px }
.item-31 { background-position: -160px -16px }
.item-32 { background-position: -176px -16px }
.item-33 { background-position: -192px -16px }
.item-34 { background-position: -208px -16px }
.item-35 { background-position: -224px -16px }
.item-36 { background-position: -240px -16px }
.item-37 { background-position: -256px -16px }
.item-38 { background-position: -272px -16px }
.item-39 { background-position: -288px -16px }
.item-40 { background-position: -304px -16px }
.item-41 { background-position: 0px -32px }
.item-42 { background-position: -16px -32px }
.item-43 { background-position: -32px -32px }
.item-44 { background-position: -48px -32px }
.item-45 { background-position: -64px -32px }
.item-46 { background-position: -80px -32px }
.item-47 { background-position: -96px -32px }
.item-48 { background-position: -112px -32px }
.item-49 { background-position: -128px -32px }
.item-50 { background-position: -144px -32px }
.item-51 { background-position: -160px -32px }
.item-52 { background-position: -176px -32px }
.item-53 { background-position: -192px -32px }
.item-54 { background-position: -208px -32px }
.item-55 { background-position: -224px -32px }
.item-56 { background-position: -240px -32px }
.item-57 { background-position: -256px -32px }
.item-58 { background-position: -272px -32px }
.item-59 { background-position: -288px -32px }
.item-60 { background-position: -304px -32px }
.item-61 { background-position: 0px -48px }
.item-62 { background-position: -16px -48px }
.item-63 { background-position: -32px -48px }
.item-64 { background-position: -48px -48px }
.item-65 { background-position: -64px -48px }
.item-66 { background-position: -80px -48px }
.item-67 { background-position: -96px -48px }
.item-68 { background-position: -112px -48px }
.item-69 { background-position: -128px -48px }
.item-70 { background-position: -144px -48px }
.item-71 { background-position: -160px -48px }
.item-72 { background-position: -176px -48px }
.item-73 { background-position: -192px -48px }
.item-74 { background-position: -208px -48px }
.item-75 { background-position: -224px -48px }
.item-76 { background-position: -240px -48px }
.item-77 { background-position: -256px -48px }
.item-78 { background-position: -272px -48px }
.item-79 { background-position: -288px -48px }
.item-80 { background-position: -304px -48px }
.item-81 { background-position: 0px -64px }
.item-82 { background-position: -16px -64px }
.item-83 { background-position: -32px -64px }
.item-84 { background-position: -48px -64px }
.item-85 { background-position: -64px -64px }
.item-86 { background-position: -80px -64px }
.item-87 { background-position: -96px -64px }
.item-88 { background-position: -112px -64px }
.item-89 { background-position: -128px -64px }
.item-90 { background-position: -144px -64px }
.item-91 { background-position: -160px -64px }
.item-92 { background-position: -176px -64px }
.item-93 { background-position: -192px -64px }
.item-94 { background-position: -208px -64px }
.item-95 { background-position: -224px -64px }
.item-96 { background-position: -240px -64px }
.item-97 { background-position: -256px -64px }
.item-98 { background-position: -272px -64px }
.item-99 { background-position: -288px -64px }
.item-100 { background-position: -304px -64px }
.item-101 { background-position: 0px -80px }
.item-102 { background-position: -16px -80px }
.item-103 { background-position: -32px -80px }
.item-104 { background-position: -48px -80px }
.item-105 { background-position: -64px -80px }
.item-106 { background-position: -80px -80px }
.item-107 { background-position: -96px -80px }
.item-108 { background-position: -112px -80px }
.item-109 { background-position: -128px -80px }
.item-110 { background-position: -144px -80px }
.item-111 { background-position: -160px -80px }
.item-112 { background-position: -176px -80px }
.item-113 { background-position: -192px -80px }
.item-114 { background-position: -208px -80px }
.item-115 { background-position: -224px -80px }
.item-116 { background-position: -240px -80px }
.item-117 { background-position: -256px -80px }
.item-118 { background-position: -272px -80px }
.item-119 { background-position: -288px -80px }
.item-120 { background-position: -304px -80px }
.item-121 { background-position: 0px -96px }
.item-122 { background-position: -16px -96px }
.item-123 { background-position: -32px -96px }
.item-124 { background-position: -48px -96px }
.item-125 { background-position: -64px -96px }
.item-126 { background-position: -80px -96px }
.item-127 { background-position: -96px -96px }
.item-128 { background-position: -112px -96px }
.item-129 { background-position: -128px -96px }
.item-130 { background-position: -144px -96px }
.item-131 { background-position: -160px -96px }
.item-132 { background-position: -176px -96px }
.item-133 { background-position: -192px -96px }
.item-134 { background-position: -208px -96px }
.item-135 { background-position: -224px -96px }
.item-136 { background-position: -240px -96px }
.item-137 { background-position: -256px -96px }
.item-138 { background-position: -272px -96px }
.item-139 { background-position: -288px -96px }
.item-140 { background-position: -304px -96px }
.item-141 { background-position: 0px -112px }
.item-142 { background-position: -16px -112px }
.item-143 { background-position: -32px -112px }
.item-144 { background-position: -48px -112px }
.item-145 { background-position: -64px -112px }
.item-146 { background-position: -80px -112px }
.item-147 { background-position: -96px -112px }
.item-148 { background-position: -112px -112px }
.item-149 { background-position: -128px -112px }
.item-150 { background-position: -144px -112px }
.item-151 { background-position: -160px -112px }
.item-152 { background-position: -176px -112px }
.item-153 { background-position: -192px -112px }
.item-154 { background-position: -208px -112px }
.item-155 { background-position: -224px -112px }
.item-156 { background-position: -240px -112px }
.item-157 { background-position: -256px -112px }
.item-158 { background-position: -272px -112px }
.item-159 { background-position: -288px -112px }
.item-160 { background-position: -304px -112px }
.item-161 { background-position: 0px -128px }
.item-162 { background-position: -16px -128px }
.item-163 { background-position: -32px -128px }
.item-164 { background-position: -48px -128px }
.item-165 { background-position: -64px -128px }
.item-166 { background-position: -80px -128px }
.item-167 { background-position: -96px -128px }
.item-168 { background-position: -112px -128px }
.item-169 { background-position: -128px -128px }
.item-170 { background-position: -144px -128px }
.item-171 { background-position: -160px -128px }
.item-172 { background-position: -176px -128px }
.item-173 { background-position: -192px -128px }
.item-174 { background-position: -208px -128px }
.item-175 { background-position: -224px -128px }
.item-176 { background-position: -240px -128px }
.item-177 { background-position: -256px -128px }
.item-178 { background-position: -272px -128px }
.item-179 { background-position: -288px -128px }
.item-180 { background-position: -304px -128px }
.item-181 { background-position: 0px -144px }
.item-182 { background-position: -16px -144px }
.item-183 { background-position: -32px -144px }
.item-184 { background-position: -48px -144px }
.item-185 { background-position: -64px -144px }
.item-186 { background-position: -80px -144px }
.item-187 { background-position: -96px -144px }
.item-188 { background-position: -112px -144px }
.item-189 { background-position: -128px -144px }
.item-190 { background-position: -144px -144px }
.item-191 { background-position: -160px -144px }
.item-192 { background-position: -176px -144px }
.item-193 { background-position: -192px -144px }
.item-194 { background-position: -208px -144px }
.item-195 { background-position: -224px -144px }
.item-196 { background-position: -240px -144px }
.item-197 { background-position: -256px -144px }
.item-198 { background-position: -272px -144px }
.item-199 { background-position: -288px -144px }
.item-200 { background-position: -304px -144px }
.item-201 { background-position: 0px -160px }
.item-202 { background-position: -16px -160px }
.item-203 { background-position: -32px -160px }
.item-204 { background-position: -48px -160px }
.item-205 { background-position: -64px -160px }
.item-206 { background-position: -80px -160px }
.item-207 { background-position: -96px -160px }
.item-208 { background-position: -112px -160px }
.item-209 { background-position: -128px -160px }
.item-210 { background-position: -144px -160px }
.item-211 { background-position: -160px -160px }
.item-212 { background-position: -176px -160px }
.item-213 { background-position: -192px -160px }
.item-214 { background-position: -208px -160px }
.item-215 { background-position: -224px -160px }
.item-216 { background-position: -240px -160px }
.item-217 { background-position: -256px -160px }
.item-218 { background-position: -272px -160px }
.item-219 { background-position: -288px -160px }
.item-220 { background-position: -304px -160px }
.item-221 { background-position: 0px -176px }
.item-222 { background-position: -16px -176px }
.item-223 { background-position: -32px -176px }
.item-224 { background-position: -48px -176px }
.item-225 { background-position: -64px -176px }
.item-226 { background-position: -80px -176px }
.item-227 { background-position: -96px -176px }
.item-228 { background-position: -112px -176px }
.item-229 { background-position: -128px -176px }
.item-230 { background-position: -144px -176px }
.item-231 { background-position: -160px -176px }
.item-232 { background-position: -176px -176px }
.item-233 { background-position: -192px -176px }
.item-234 { background-position: -208px -176px }
.item-235 { background-position: -224px -176px }
.item-236 { background-position: -240px -176px }
.item-237 { background-position: -256px -176px }
.item-238 { background-position: -272px -176px }
.item-239 { background-position: -288px -176px }
.item-240 { background-position: -304px -176px }
.item-241 { background-position: 0px -192px }
.item-242 { background-position: -16px -192px }
.item-243 { background-position: -32px -192px }
.item-244 { background-position: -48px -192px }
.item-245 { background-position: -64px -192px }
.item-246 { background-position: -80px -192px }
.item-247 { background-position: -96px -192px }
.item-248 { background-position: -112px -192px }
.item-249 { background-position: -128px -192px }
.item-250 { background-position: -144px -192px }
.item-251 { background-position: -160px -192px }
.item-252 { background-position: -176px -192px }
.item-253 { background-position: -192px -192px }
.item-254 { background-position: -208px -192px }
.item-255 { background-position: -224px -192px }
.item-256 { background-position: -240px -192px }
.item-257 { background-position: -256px -192px }
.item-258 { background-position: -272px -192px }
.item-259 { background-position: -288px -192px }
.item-260 { background-position: -304px -192px }
.item-261 { background-position: 0px -208px }
.item-262 { background-position: -16px -208px }
.item-263 { background-position: -32px -208px }
.item-264 { background-position: -48px -208px }
.item-265 { background-position: -64px -208px }
.item-266 { background-position: -80px -208px }
.item-267 { background-position: -96px -208px }
.item-268 { background-position: -112px -208px }
.item-269 { background-position: -128px -208px }
.item-270 { background-position: -144px -208px }
.item-271 { background-position: -160px -208px }
.item-272 { background-position: -176px -208px }
.item-273 { background-position: -192px -208px }
.item-274 { background-position: -208px -208px }
.item-275 { background-position: -224px -208px }
.item-276 { background-position: -240px -208px }
.item-277 { background-position: -256px -208px }
.item-278 { background-position: -272px -208px }
.item-279 { background-position: -288px -208px }
.item-280 { background-position: -304px -208px }
.item-281 { background-position: 0px -224px }
.item-282 { background-position: -16px -224px }
.item-283 { background-position: -32px -224px }
.item-284 { background-position: -48px -224px }
.item-285 { background-position: -64px -224px }
.item-286 { background-position: -80px -224px }
.item-287 { background-position: -96px -224px }
.item-288 { background-position: -112px -224px }
.item-289 { background-position: -128px -224px }
.item-290 { background-position: -144px -224px }
.item-291 { background-position: -160px -224px }
.item-292 { background-position: -176px -224px }
.item-293 { background-position: -192px -224px }
.item-294 { background-position: -208px -224px }
.item-295 { background-position: -224px -224px }
.item-296 { background-position: -240px -224px }
.item-297 { background-position: -256px -224px }
.item-298 { background-position: -272px -224px }
.item-299 { background-position: -288px -224px }
.item-300 { background-position: -304px -224px }
.item-301 { background-position: 0px -240px }
.item-302 { background-position: -16px -240px }
.item-303 { background-position: -32px -240px }
.item-304 { background-position: -48px -240px }
.item-305 { background-position: -64px -240px }
.item-306 { background-position: -80px -240px }
.item-307 { background-position: -96px -240px }
.item-308 { background-position: -112px -240px }
.item-309 { background-position: -128px -240px }
.item-310 { background-position: -144px -240px }
.item-311 { background-position: -160px -240px }
.item-312 { background-position: -176px -240px }
.item-313 { background-position: -192px -240px }
.item-314 { background-position: -208px -240px }
.item-315 { background-position: -224px -240px }
.item-316 { background-position: -240px -240px }
.item-317 { background-position: -256px -240px }
.item-318 { background-position: -272px -240px }
.item-319 { background-position: -288px -240px }
.item-320 { background-position: -304px -240px }
.item-321 { background-position: 0px -256px }
.item-322 { background-position: -16px -256px }
.item-323 { background-position: -32px -256px }
.item-324 { background-position: -48px -256px }
.item-325 { background-position: -64px -256px }
.item-326 { background-position: -80px -256px }
.item-327 { background-position: -96px -256px }
.item-328 { background-position: -112px -256px }
.item-329 { background-position: -128px -256px }
.item-330 { background-position: -144px -256px }
.item-331 { background-position: -160px -256px }
.item-332 { background-position: -176px -256px }
.item-333 { background-position: -192px -256px }
.item-334 { background-position: -208px -256px }
.item-335 { background-position: -224px -256px }
.item-336 { background-position: -240px -256px }
.item-337 { background-position: -256px -256px }
.item-338 { background-position: -272px -256px }
.item-339 { background-position: -288px -256px }
.item-340 { background-position: -304px -256px }
.item-341 { background-position: 0px -272px }
.item-342 { background-position: -16px -272px }
.item-343 { background-position: -32px -272px }
.item-344 { background-position: -48px -272px }
.item-345 { background-position: -64px -272px }
.item-346 { background-position: -80px -272px }