{% extends "base.twig" %}

{% block content %}

    <p>Upload your save game file and I'll tell you some stats, as well as list
    missing items and achievements.</p>

    <p>This is a work in progress. Stats are found by playing the game and
    looking what's changed after each save. Report any problems by creating
    an <a target="_blank" href="https://github.com/ihabunek/isaac/issues">issue on github.</a>
    </p>

    <p>Tested with savegame format produced by BOIR version 1.04x. Your
    savegame should be exactly 4K large and start with the string
    <code>ISAACNGSAVE06R</code>.</p>

    <div class="alert alert-warning" role="alert">
        <b>Caution</b>: Contains spoilers! All characters, items, achievements and bosses are
        listed.
    </div>

    <p>Savegame files are named <code>persistentgamedata#.dat</code>.</p>

    <p>Savegame locations when installed via Steam:</p>
    <ul>
        <li>Linux: <code>~/.local/share/Steam/userdata/********/250900/remote/</code></li>
        <li>Mac: <code>~/Library/Application Support/Steam/userdata/********/250900/remote</code></li>
        <li>Windows: <code>c:\Program Files (x86)\Steam\userdata\********\250900\remote\</code></li>
    </ul>

    <h3>Upload your save</h3>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="savegame">Save game file</label>
            <input type="file" name="savegame" id="savegame">
            {# <p class="help-block">Upload your savegame (<code>persistentgamedata*.dat</code>).</p> #}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <h3>Recent uploads</h3>

    {% if recents %}
        <table class="table table-compact table-hover">
            <thead>
                <tr>
                    <th>Hash</th>
                    <th>Uploaded</th>
                </tr>
            </thead>
            <tbody>
                {% for recent in recents %}
                <tr>
                    <td><a href="{{ path("show", { hash: recent.hash }) }}">{{ recent.hash }}</a></td>
                    <td>{{ recent.uploaded }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No recent uploads found.</p>
    {% endif %}

    <h3>Privacy policy</h3>

    <p>All uploaded files are made public. However, no personal data is
    collected, displayed or forwarded.</p>
{% endblock %}
