{% extends "base.twig" %}

{% block content %}

    <h2>Savegame info</h2>

    <p>Hash: <em>{{ id }}</em></p>

    <p>Uploaded: <em>{{ ctime|date }}</em></p>

    <hr />

    <p>
        <strong>Jump to:</strong><br />
        <a class="btn btn-primary btn-xs" href="#Progress">Progress</a>
        <a class="btn btn-primary btn-xs" href="#Stats">Stats</a>
        <a class="btn btn-primary btn-xs" href="#Bosses">Bosses</a>
        <a class="btn btn-primary btn-xs" href="#Items">Items</a>
        <a class="btn btn-primary btn-xs" href="#Achievements">Achievements</a>
    </p>

    <hr />

    {% include 'show_progress.twig' %}
    {% include 'show_stats.twig' %}
    {% include 'show_challanges.twig' %}
    {% include 'show_bosses.twig' %}
    {% include 'show_items.twig' %}
    {% include 'show_achievements.twig' %}

{% endblock %}
